<%
stylesheet_link_tag 'content'
stylesheet_link_tag 'codeBlocks'
%>

<div class="main container" id="metodos,funcionesybloques">
  <h1 class="title">MÉTODOS, FUNCIONES Y BLOQUES</h1>
  <div class="subject">
    <div class="big-text">
      <p>
        En Ruby encontramos varias formas de agrupar instrucciones, los métodos y las funciones, similares entre sí; y por otra parte los bloques.
      </p>
      <p>
        La diferencia que existe entre un método y una función es que un método está asociado a un objeto, y por tanto, se invoca desde este. El método trabajará con la clase de ese objeto.
        En cambio, las funciones son independientes, no están asociadas a ninguna clase, y trabajan con los parámetros que reciben.
      </p>
      <p>Método:</p>
      <pre class="codeBlock">
        <code data-lang="ruby">
          <span class="base">def </span>greeting(name)
            <span class="show">puts</span> "Hola #{name}"
          <span class="base">end</span>
        </code>
      </pre>
      <p>
        Función:
      </p>
      <pre class="codeBlock">
        <code data-lang="ruby">
          <span class="base">def </span>sum(num1, num2)
            num1 + num2
          <span class="base">end</span>
        </code>
      </pre>
      <p>
        Por otra parte encontramos los bloques, que son fragmentos de código definidos entre corchetes ({}) y que se pasan como parámetro a una función.
      </p>
      <pre class="codeBlock">
        <code data-lang="ruby">
          <span class="base">def </span>presentation(name)
            <span class="show">puts</span> "Bienvenido/a #{name}"
            <span class="special">yield</span>
          <span class="base">end</span>

          presentation("Julia") <span class="special">{</span>"Hoy vamos de excursión."<span class="special">}</span>
        </code>
      </pre>
      <p>
        <b>El uso de yield:</b> yield es una palabra reservada por Ruby y empleada para ejecutar un bloque, por tanto, en el punto donde utilicemos yield, ejecutaremos el bloque.
      </p>
    </div>
  </div>
</div>
