<%
stylesheet_link_tag 'content'
stylesheet_link_tag 'codeBlocks'
%>

<div class="main container" id="clases">
  <h1 class="title">CLASES</h1>
  <div class="subject">
    <div class="big-text">
      <p>
        En Ruby todo son objetos, y por tanto tendremos que definir las clases para los objetos que queramos usar.
        Las clases se definen mediante la palabra reservada class. Estas contarán con unos atributos, que se definirán con el prefijo @@ y unos métodos.
      </p>

      <pre class="codeBlock">
        <code data-lang="ruby">
          <span class="class">class </span>Person
            <span class="doubleVariable">@@id</span> = 0

            <span class="base">def </span>initialize(name, age)
              <span class="variable">@name</span> = name
              <span class="variable">@age</span> = age
              <span class="doubleVariable">@@id</span> += 1
            <span class="base">end</span>

            <span class="base">def </span>get_name
              <span class="variable">@name</span>
            <span class="base">end</span>

          <span class="base">end</span>

          pedro = Person<span class="new">.new</span>('Pedro', 15)
        </code>
      </pre>
    </div>
  </div>
</div>
