<% stylesheet_link_tag 'content' %>

<div class="main container" id="caracteristicas">
  <h1 class="title">CARACTERÍSTICAS</h1>
  <div class="subject">
    <div>
      <ul class="list-group uList">
        <li class="list-group-item">
          &nbsp;Es orientado a objetos.
        </li>
        <li class="list-group-item">
          &nbsp;Existen 4 niveles de ámbito de variable:
          <ul class="sublist">
            <li>&nbsp;<b>Global:</b> Pueden consultarse y modificarse en cualquier parte. (Comienzan con $)</li>
            <li>&nbsp;<b>Clase:</b> Pueden ser usadas por los objetos y métodos de una clase. (Comienzan por @@)</li>
            <li>&nbsp;<b>Instancia:</b> Se definen dentro de una clase y se inicializan al crear un objeto.(Comienzan por @)</li>
            <li>&nbsp;<b>Local y de bloque:</b> Se definen y utilizan hasta que se termine el método y Ruby limpie la memoria.(No pueden ser palabras reservadas)</li>
          </ul>
        </li>
        <li class="list-group-item">
          &nbsp;Usa una sintaxis sencilla y dinámica.
        </li>
        <li class="list-group-item">
          &nbsp;<b>Uso de closures:</b> &nbsp; Bloques de código que pueden ser pasados como parámetros a funciones.
        </li>
        <li class="list-group-item">&nbsp;
          <b>Gestión de librerías:</b> &nbsp; Bundler y Gemfile.
        </li>
        <li class="list-group-item">
          &nbsp;Fácil de aprender y usar.
        </li>
        <li class="list-group-item">
          &nbsp;<b>Filosofía DRY:</b> &nbsp; <b>D</b>on't <b>R</b>epeat <b>Y</b>ourself.
        </li>
      </ul>
    </div>
  </div>
</div>
