<% stylesheet_link_tag 'content' %>

<div class="main container" id="caracteristicas">
  <h1 class="title">CARACTERÍSTICAS</h1>
  <div class="subject">
    <div class="big-text">
      <p>
         Ruby es un lenguaje de alto nivel orientado a objetos. Una de sus principales filosofías es enfocarse a la productividad y la simplicidad, lo que apreciamos en su amigable sintaxis y en la tan famosa frase: Don’t Repeat Yourself (DRY).
      </p>
      <p>
        Enfocándonos en el lenguaje, encontramos varias características:
      </p>
      <ul class="list-group uList">
        <li class="list-group-item">
          &nbsp;<b>Uso de closures:</b> bloques de código que son pasados como parámetros a funciones.
        </li>
        <li class="list-group-item">
          &nbsp;<b>Cuatro niveles de ámbito de variables:</b> global, clase, instancia y local y de bloque.
        </li>
        <li class="list-group-item">
          &nbsp;Fácil de aprender y de usar.
        </li>
        <li class="list-group-item">
          &nbsp;Sintaxis sencilla y amigable.
        </li>
        <li class="list-group-item">
          &nbsp;<b>Gestor de librerías:</b> Bundler y el Gemfile. (Instalador y documento donde se registran las gemas instaladas)
        </li>
      </ul>
    </div>
  </div>
</div>
