<%
stylesheet_link_tag 'content'
stylesheet_link_tag 'codeBlocks'
%>

<div class="main container" id="herencia">
  <h1 class="title">HERENCIA</h1>
  <div class="subject">
    <div class="big-text">
      <p>
        Para realizar la herencia en Ruby se emplea el carácter <b>&lt;</b>. Al heredar, la clase hija puede acceder a todos los elementos de la clase padre, empleando la palabra reservada <i>super</i>. 
      </p>
      <p>
        Un aspecto importante es que una clase hija sólo podrá tener una clase padre, pero una clase padre podrá tener muchas clases hija. Esto ocurre porque una clase <u>sólo</u> puede heredar de otra.
      </p>
      <pre class="codeBlock">
        <code data-lang="ruby">
          <span class="class">class </span>Bird

            <span class="base">def</span> initialize(type)
              <span class="variable">@type</span> = type
            <span class="base">end</span>

            <span class="base">def</span> fly
              <span class="show">puts</span> 'Puedo volar'
            <span class="base">end</span>

          <span class="base">end</span>

          <span class="class">class</span> Pengüin <span class="special"><b><</b></span> Animal

            <span class="base">def</span> initialize
              super
            <span class="base">end</span>

            <span class="base">def</span> fly
              <span class="show">puts</span>'Yo no puedo volar.'
            <span class="base">end</span>

          <span class="base">end</span>
        </code>
      </pre>
    </div>
  </div>
</div>
