<% stylesheet_link_tag 'content' %>

<div class="main container" id="aspectosclave">
  <h1 class="title">ASPECTOS CLAVE</h1>
  <div class="subject">
    <div class="text">
      <p>
        


      </p>
    </div>
  </div>
</div>
