<%
stylesheet_link_tag 'content'
stylesheet_link_tag 'codeBlocks'
%>

<div class="main container" id="autenticacion">
  <h1 class="title">Autenticación</h1>
  <div class="subject">
    <div class="big-text">

    </div>
  </div>
</div>
