<%
stylesheet_link_tag 'content'
stylesheet_link_tag 'codeBlocks'
%>

<div class="main container" id="autenticacion">
  <h1 class="title">Autenticación</h1>
  <div class="subject">
    <div class="big-text">
      <p>
       La autenticación en Rails se puede realizar mediante dos formas: usando sesiones o usando tokens. La más utilizada es la de sesiones.
       Autenticación usando sesiones:
      </p>
      <p>
        Cuando el usuario se identifica se inicia una sesión, donde se almacena un identificador, que puede ser lo que el desarrollador decida, lo más común es usar un identificador del usuario, como puede ser un id, su login,…
        Para realizar esta autenticación se necesitan dos partes:
      </p>
      <pre class="codeBlock">
        La parte de la <span class="show">sesión</span>:
        Se crea un controlador que contará con dos métodos: uno para <span class="variable">iniciar</span>
        la sesión y otro para <span class="base">eliminarla</span>.
        Para eliminar una sesión esta se iguala a <span class="class"><i>nil</i></span>
      </pre>
      <pre class="codeBlock">
        La parte del <span class="show">usuario</span>:
        Se crea un <span class="new">modelo</span> para almacenar la información sobre el usuario, un
        <span class="new">controlador</span> para gestionar la comunicación entre el modelo y la vista,
        y una <span class="new">vista</span> para mostrar los datos.
      </pre>
      La contraseña se cifra usando la gema <i>Bcrypt</i>. Es necesario tener en el modelo el método
      <span class="special"><i>has_secure_password</i></span> y en la base de datos el campo: <span class="show">
      password_digest</span> y en caso de querer poner repetición de contraseña, usar el campo <span class="show">password_confirmation</span>.
      Las validaciones de las contraseñas se definen en el modelo, al igual que la validación de formularios.
    </div>
  </div>
</div>
