<%
stylesheet_link_tag 'content'
%>

<div class="main container" id="gemas">
  <h1 class="title">Gemas</h1>
  <div class="subject">
    <div class="big-text">
      <p>
        En Ruby a las librerías se las llama gemas. Las gemas usadas en los proyectos son:
      </p>
      <ul class="list-group">
        <li class="list-group-item">
          <b>mySQL 2</b>: Usada para realizar la conexión con la base de datos mysql.
        </li>
        <li class="list-group-item">
          <b>Bootstrap 4</b>: Framework de HTML, CSS y JS.
        </li>
        <li class="list-group-item">
          <b>Font-awesome-rails</b>: Permite el uso de iconos proporcionados por Font-awesome.
        </li>
        <li class="list-group-item">
          <b>Tether</b>: Librería de JS (requerida por Bootstrap 4), y usada para posicionar elementos.
        </li>
        <li class="list-group-item">
          <b>Chartjs-ror</b>: Permite el uso de gráficos, basados en la librería <i>Chart js</i>
        </li>
        <li class="list-group-item">
          <b>Paperclip</b>: Gema usada para la gestión de ficheros.
        </li>
        <li class="list-group-item">
          <b>Spanish_vat_validators</b>: Valida DNI, CIF, NIE, NIF.
        </li>
        <li class="list-group-item">
          <b>Bcrypt</b>: Cifra contraseñas usando un hash.
        </li>
      </ul>
    </div>
  </div>
</div>
