<%
stylesheet_link_tag 'content'
%>

<div class="main container" id="gemas">
  <h1 class="littleTitle">Gemas</h1>
  <div class="subject">
    <div class="big-text">
      <p>
        En Ruby a las librerías se las llama gemas. Las gemas usadas en este proyecto son:
      </p>
      <ul class="list-group">
        <li class="list-group-item">
          <b>Bcrypt, Jwt y Simple command</b>: Usadas para la autenticación con token.
        </li>
        <li class="list-group-item">
          <b>Bootstrap 4</b>: Framework de HTML, CSS y JS.
        </li>
        <li class="list-group-item">
          <b>Font-awesome-rails</b>:
        </li>
        <li class="list-group-item">
          <b>Tether</b>: 
        </li>
      </ul>
    </div>
  </div>
</div>
