<%
stylesheet_link_tag 'content'
%>

<div class="main container" id="controlador">
  <h1 class="title">Controlador</h1>
  <div class="subject">
    <ul class="list-group uList">
      <li class="list-group-item">
        Se genera con el comando 'rails g controller nombre_controlador' o con el comando 'rails generate controller nombre_controlador'
      </li>
      <li class="list-group-item">
        Sirven como puente entre el modelo y la vista.
      </li>
    </ul>
  </div>
</div>
