<%
stylesheet_link_tag 'content'
%>

<div class="main container" id="controlador">
  <h1 class="littleTitle">Controlador</h1>
  <div class="subject">
    <div class="big-text">
      <p>
        Se encarga de la lógica de la aplicación. Hace de intermediario entre la vista y el modelo.
        
      </p>
    </div>
  </div>
</div>
