<%
stylesheet_link_tag 'content'
%>

<div class="main container" id="controlador">
  <h1 class="littleTitle">Controlador</h1>
  <div class="subject">
    <div class="big-text">

    </div>
  </div>
</div>
