<%
stylesheet_link_tag 'content'
%>

<div class="main container" id="controlador">
  <h1 class="title">Controlador</h1>
  <div class="subject">
    <div class="big-text">
      <p>
        Es el elemento que sirve como puente entre el modelo y la vista. Recibe las peticiones que realiza el usuario, trabaja con ellas y devuelve el contenido requerido.
        Para crearlo se usa el comando:
        <pre class="codeBlock">
          <code data-lang="ruby">
            rails <span class="special">generate</span> <span class="doubleVariable">controller</span> nombre_controlador
          </code>
        </pre>
        o bien:
        <pre class="codeBlock">
          <code data-lang="ruby">
            rails <span class="special">g</span> <span class="doubleVariable">controller</span> nombre_controlador
          </code>
        </pre>
      </p>
      <p>
        Los controladores son accesibles desde sus vistas, por lo tanto no se puede acceder a un controlador desde una vista que no le corresponde, pero sí se puede acceder a algunos métodos, indicándolo correctamente
      </p>
    </div>
  </div>
</div>
