<%
stylesheet_link_tag 'content'
%>

<div class="main container" id="modelo">
  <h1 class="littleTitle">Modelo</h1>
  <div class="subject">
    <div class="big-text">
      <p>
        Está formado por clases, cada clase es un modelo, y cada modelo representa una tabla en la
        base de datos.

      </p>
    </div>
  </div>
</div>
