<%
stylesheet_link_tag 'content'
%>

<div class="main container" id="vista">
  <h1 class="title">Vista</h1>
  <div class="subject">
    <div class="big-text">
      <p>
        Es la parte visible de la aplicación, se compone de código HTML con código Ruby incrustado. La extensión de los ficheros es <i>.html.erb</i>, y el código Ruby se implementa usando las etiquetas <b>&lt;% %&gt;</b> o <b>&lt;%= %&gt;</b>
      </p>
      <pre class="codeBlock">
        <code data-lang="ruby">
          <span class="class">&lt;%</span> <span class="variable">my_name</span>="Andrea"<span class="class">%&gt;</span>
          <span class="new">&lt;h1&gt;</span>
            ¡Hola!, mi nombre es <span class="class">&lt;%=</span> <span class="show">puts</span> my_name <span class="class">%&gt;</span>
          <span class="new">&lt;/h1&gt;</span>
        </code>
      </pre>
      <p>
        En Rails encontramos los parciales, que son vistas que se pueden renderizar, importar en otras vistas. De esta forma podemos evitarnos duplicar código. Es importante que sean nombrados con el prefijo <b>_</b>
      </p>
      <p>
        Para llamarlos desde una vista los renderizaremos, mediante la palabra clave render.
      </p>
      <pre class="codeBlock">
        <code data-lang="ruby">
          _nav_bar.html.erb
        </code>
      </pre>
      <p>
        Y para renderizar la vista, usaremos:
      </p>
      <pre class="codeBlock">
        <code data-lang="ruby">
          <span class="class">&lt;%=</span> <span class="special">render</span> 'directorio/nav_bar' <span class="class">%&gt;</span>
        </code>
      </pre>
    </div>
  </div>
</div>
