<%
stylesheet_link_tag 'content'
%>

<div class="main container" id="quees">
  <h1 class="littleTitle">INTRODUCCIÓN</h1>
  <div class="subject">
    <div class="image">
      <%= image_tag "rails_logo.png", :alt => "Ruby logo" %>
    </div>
    <div class="text writing">
      <p>
        Ruby on rails, también llamado ROR, rails y on rails; es un framework. Desde su nacimiento, en
        el 2004, Ruby ha subido en popularidad. Al igual que Ruby es código abierto.
      </p>
    </div>
  </div>
</div>
