<%
stylesheet_link_tag 'content'
%>

<div class="main container" id="quees">
  <h1 class="title">INTRODUCCIÓN</h1>
  <div class="subject">
    <div class="big-text">
      <center>
        <div class="image">
          <%= image_tag "rails_logo.png", :alt => "Ruby logo" %>
        </div>
      </center>
      <div class="text writing">
        <p>
         Ruby on Rails, conocido también como ROR, Rails y On Rails es el framework más usado para construir aplicaciones web con Ruby, aunque no por ello es el único, también encontramos otros como Rack, Cuba, Lotus,…
        </p>
        <p>
          Rails sigue el paradigma del Modelo Vista Controlador (MVC), combinado además con el principio de mínima configuración.
        </p>
        <p>
          Desde su nacimiento en 2003 de la mano de David Heinemeier Hansson, ha ido creciendo en popularidad, siendo el preferido por los desarrolladores. Al igual que Ruby es de código abierto y está orientado a la productividad y el entretenimiento.
        </p>
        <p>
          De este framework destacan dos principios:
        </p>
        <p>
          <b>Don’t Repeat Yourself (DRY) </b> al igual que Ruby.
        </p>
        <p>
          <b>Convención sobre Configuración (Coc): </b> Lo que quiere decir que el programador sólo tiene que definir la aplicación que no es convencional. Por ejemplo, si hay un modelo llamado <span class="base"> pet</span>, la tabla que se genere será <span class="base"> pets</span>. A no ser que el desarrollador decida no utilizar el principio y llamarla de otra forma.
        </p>
      </div>
    </div>
  </div>
</div>
