<%
stylesheet_link_tag 'content'
%>

<div class="main container" id="quees">
  <h1 class="title">INTRODUCCIÓN</h1>
  <div class="subject">
    <div class="image">
      <%= image_tag "rails_logo.png", :alt => "Ruby logo" %>
    </div>
    <div class="text writing">
      <p>
        Ruby on rails, también llamado ROR, rails y on rails; es el framework más usado de Ruby para construir
        aplicaciones web. Este sigue el paradigma del Modelo Vista Controlador, combinado además con una mínima
        configuración y la posibilidad de utilizar menos código.
      </p>
      <p>
        Desde su nacimiento, en el 2003 por David Heinemeier Hansson, Ruby ha subido en popularidad. Al igual que
        este es código abierto. Y está orientado a la productividad y satisfacción de los programadores.
      </p>
      <p>
        Ruby sigue dos principios: el DRY(<b>D</b>on't <b>R</b>epeat <b>Y</b>ourself), al igual que Ruby.
        Y Convención sobre Configuración, lo que quiere decir que el progrador sólo tiene que definir la programación
        que no es convencional. Por ejemplo: si existe un modelo llamado "Empleado", la tabla correspondiente sería "empleados",
        pero si no se sigue la convención, habría que declararlo.
      </p>
    </div>
  </div>
</div>
