.base {
  color: rgb(218, 74, 28);
}

.show {
  color: rgb(37, 172, 159);
}

.special {
  color: rgb(109, 13, 129);
}

.new {
  color: rgb(219, 118, 0);
}

.class {
  color: rgb(249, 67, 67);
}

.doubleVariable {
  color: rgb(27, 56, 105);
}

.variable {
  color: rgb(46, 144, 180);
}
