@import url('https://fonts.googleapis.com/css?family=Passion+One');

.title {
  font-family: 'Passion One', cursive;
  font-size: 6em;
}

.subject {
  display: inline-flex;
  flex-wrap: wrap;
}

.image {
  width: 30%;
  img {
    width: 100%;
  }
}

.text {
  width: 50%;
  text-align: justify;
  box-sizing: content-box;
  p {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .text {
    height: 100vh;
    margin-left: 25%;
  }

}
