@import url('https://fonts.googleapis.com/css?family=Passion+One');

.title {
  font-family: 'Passion One', cursive;
  font-size: 6em;
  text-align: center;
}

.littleTitle {
  font-family: 'Passion One', cursive;
  font-size: 4em;
  text-align: center;
}

.subject {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
  align-content: center;
}

.text {
  width: 60%;
}

.writing {
  text-align: justify;
}

.image {
  width: 30%;
  img {
    width: 100%;
  }
}

.uList {
  li {
    border: none;
    list-style: none;
  }
  li:before {
    color: #a01508;
    content: "\f219";
    font-family: 'FontAwesome';
  }
}

.graphics {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}

.graphic {
  width: 40%;
}

.bigGraphic {
  width: 44%;
}

.graphicTitle {
  text-align: center;
}

.big-text {
  text-align: justify;
  width: 80%;
}

.codeBlock {
  border-left: rgb(15, 159, 112) 3px solid;
}
