@import url('https://fonts.googleapis.com/css?family=Passion+One');

.main {
  margin: 3% 0 7% 0;
}

.title {
  font-family: 'Passion One', cursive;
  font-size: 4em;
  text-align: center;
}

.subject {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text {
  text-align: justify;
}

.writting {
  width: 60%;
}

.image {
  width: 30%;
  img {
    width: 100%;
  }
}

.uList {
  text-align: justify;
  li {
    border: none;
    list-style: none;
  }
  li:before {
    color: #a01508;
    content: "\f219";
    font-family: 'FontAwesome';
  }
}

.sublist {
  padding-left: 5%;
  li {
    padding-top: 2%;
  }
}

.graphics {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}

.graphic {
  width: 40%;
}

.bigGraphic {
  width: 44%;
}

.graphicTitle {
  text-align: center;
}

.big-text {
  text-align: justify;
  width: 80%;
}

.codeBlock {
  border-left: rgb(15, 159, 112) 3px solid;
}

.specialDiv {
  margin: 3% 0 0 0;
}
