@import url('https://fonts.googleapis.com/css?family=Passion+One');

.title {
  font-family: 'Passion One', cursive;
  font-size: 6em;
  text-align: center;
}

.subject {
  display: inline-flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
  align-content: center;
}

.text {
  width: 60%;
}

.writing {
  text-align: justify;
}

.image {
  width: 30%;
  img {
    width: 100%;
  }
}

.uList {
  li {
    border: none;
    list-style: none;
  }
  li:before {
    content: "\f219";
    font-family: 'FontAwesome';
  }
}
