<% stylesheet_link_tag 'content' %>

<div class="main container" id="metodos,funcionesybloques">
  <h1 class="littleTitle">MÉTODOS, FUNCIONES Y BLOQUES</h1>
  <div class="subject">
    <div class="text">
      <p>
        Los métodos son similares a las funciones, se usan para agrupar instrucciones. Deben
        comenzar con letra minúscula, para no ser confundidos con constantes.
        Sintaxis:
      </p>
      <pre>
        <code class="code_block" data-lang="ruby">
          <span>def </span>greeting(name)
          <span>puts</span> "Hola #{name}"
          <span>end</span>
        </code>
      </pre>
      <p>
        Las funciones son iguales a los métodos, pero estas devuelven un objeto. Sintaxis:
      </p>
      <pre>
        <code class="code_block" data-lang="ruby">
          <span>def </span>sum(num1, num2)
          <span>return</span> num1 + num2
          <span>end</span>
        </code>
      </pre>
      <p>Y los blqoues es código que se declara entre corchetes y que se asocian a un método. Para ello,
      se usará la palabra reservaba <span>yield</span>.Sintaxis:</p>
      <pre>
        <code class="code_block" data-lang="ruby">
          <span>def </span>presentation(name)
          <span>puts</span> "Bienvenido/a #{name}"
          yield
          <span>end</span>

          presentation("Julia") {"Hoy vamos a cocinar setas."}
        </code>
      </pre>
    </div>
  </div>
</div>
