<% stylesheet_link_tag 'content' %>

<div class="main container" id="metodosybloques">
  <h1 class="title">MÉTODOS Y BLOQUES</h1>
  <div class="subject">
    <div class="text">
      <p>

      </p>
    </div>
  </div>
</div>
