<%
stylesheet_link_tag 'content'
stylesheet_link_tag 'codeBlocks'
%>

<div class="main container" id="herencia">
  <h1 class="littleTitle">HERENCIA</h1>
  <div class="subject">
    <div class="text">
      <p>La herencia en Ruby se realiza con <b><</b>. Una clase no puede heredar de varias.</p>
      <pre class="codeBlock">
        <code data-lang="ruby">
          <span class="class">class </span>Bird

            <span class="base">def</span> initialize(type)
              <span class="variable">@type</span> = type
            <span class="base">end</span>

            <span class="base">def</span> fly
              <span class="show">puts</span> 'Puedo volar'
            <span class="base">end</span>

          <span class="base">end</span>

          <span class="class">class</span> Pengüin <span class="special"><b><</b></span> Animal

            <span class="base">def</span> initialize
              super
            <span class="base">end</span>

            <span class="base">def</span> fly
              <span class="show">puts</span>'Yo no puedo volar.'
            <span class="base">end</span>

          <span class="base">end</span>
        </code>
      </pre>
    </div>
  </div>
</div>
