<%
  stylesheet_link_tag 'content'
%>

<div class="main container">
  <h1>RUBY</h1>
  <div class="subject">
    <div class="image">
      <%= image_tag "ruby_logo.png", :alt => "Ruby logo" %>
    </div>
    <div class="text">
      <p>
         Es un lenguaje de programación servidor de código libre. Fue creado por el japonés Yukihiro Matz Matsumoto, para ello se inspiró en varios
         lenguajes, entre ellos: Perl, Phyton y Lisp.
      </p>
      <p>
         Es un lenguaje interpretado, reflexivo y orientado a objetos. Ruby es defendido como un lenguaje divertido, práctico y sencillo.
         Fue creado en los años 90, y creció su popularidad con el nacimiento de Ruby on Rails, un framework de desarrollo de aplicaciones web.
      </p>
      <p>
         Actualmente es usado por grandes aplicaciones como Twitter, Groupon e Indiegogo entre otras.
      </p>
    </div>
  </div>
</div>
