<% stylesheet_link_tag 'content' %>

<div class="main container" id="introduccion">
  <h1 class="title">RUBY</h1>
  <div class="subject">
    <div class="image">
      <%= image_tag "ruby_logo.png", :alt => "Ruby logo" %>
    </div>
    <div class="text writing">
      <p>
         Es un lenguaje de programación servidor de código libre. Fue creado por el japonés Yukihiro Matz Matsumoto, para ello se inspiró en varios
         lenguajes, entre ellos: Perl, Phyton y Lisp. Es usado para creación de videojuegos y desarrollo web.
      </p>
      <p>
         Es un lenguaje de alto nivel, interpretado, reflexivo y orientado a objetos. Ruby es defendido como un lenguaje divertido, práctico y sencillo.
         Fue creado en los años 90, y creció su popularidad con el nacimiento de Ruby on Rails, un framework de desarrollo de aplicaciones web.
      </p>
      <p>
         Actualmente es usado por grandes aplicaciones como Twitter, Groupon e Indiegogo entre otras.
      </p>
      <br>
      <h4>Filosofía del lenguaje:</h4>
      <p>"We need to focus on humans, on how humans care about doing programming or operating the aplication of the machine. We are the masters.
        They are the slaves."</p>
    </div>
  </div>
</div>
