<% stylesheet_link_tag 'content' %>

<div class="main container" id="sintaxis">
  <h1 class="title">SINTAXIS</h1>
  <div class="subject">
    <div class="text">
      <p>
        En Ruby una de las cosas más atractivas que tiene es su sintaxis. Es sencilla, similar al lenguaje humano,
        

      </p>
    </div>
  </div>
</div>
