<% stylesheet_link_tag 'content' %>

<div class="main container" id="sintaxis">
  <h1 class="title">SINTAXIS</h1>
  <div class="subject">

    <div class="text">
      <p>
      </p>
    </div>
  </div>
</div>
