<% stylesheet_link_tag 'buttons' %>

<script>
  function toTop() {
    scroll(0,0);
  }
</script>

<button class="btn btn-outline-info topButton" onclick=toTop()>
  <%= fa_icon "chevron-up" %>
</button>
